/* src/index.css */
@import "tailwindcss";

/* 全局基础样式重置一点点就好 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
  background-color: #f9fafb;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
